<div class="card h-100">
    <div class="card-header">
        <h5 class="mb-0">Images uploaded</h5>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center gap-2">
        @for (graph of graphs; track graph.id) {
            <apx-chart class="w-20"
                       [series]="graph.series"
                       [chart]="chart"
                       [xaxis]="xaxis"
                       [colors]="colors"
                       [plotOptions]="plotOptions"
                       [responsive]="responsive"
                       [dataLabels]="dataLabels"
                       [title]="graph.title"/>
        }
    </div>
</div>
