.trophy-suite-page {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.error-message {
  width: 50%;
}

.trophy-suite-summary {
  width: 80%;
}

.trophy-filters {
  width: 80%;
}

.trophy-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
