<div class="trophy-suite-page container">
    @if (isLoading()) {
        <tq-spinner-container/>
    } @else if (hasFailed()) {
        <tq-error-message (retry)="loadData()"
                          [errorMessage]="'Failed to load game details'"
                          [hasRetryButton]="true"
                          class="w-50"/>
    } @else {
        <tq-trophy-suite-summary [gameDetails]="gameDetails()"
                                 [style.animationDelay.ms]="100"
                                 [trophies]="trophies()"
                                 [trophySuite]="trophySuite()"
                                 animate.enter="block-enter"
                                 class="w-75"/>

        <tq-trophy-suite-timeline
                [trophies]="trophies()"
                [trophySuite]="trophySuite()"
                class="w-75"/>

        <tq-trophy-suite-trophy-filters (filterChange)="toggleEarnedFilter($event)"
                                        (showHiddenTrophyChange)="toggleShowHiddenTrophies($event)"
                                        [filters]="trophyFilters()"
                                        [showEarnedTrophyFilter]="hasPlayerData()"
                                        class="w-75"/>

        <tq-trophy-suite-trophy-list [style.animationDelay.ms]="200"
                                     [trophies]="trophies()"
                                     [trophyFilters]="trophyFilters()"
                                     animate.enter="block-enter"
                                     class="w-100"/>
    }
</div>
