<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center justify-content-start gap-3">
        <img class="game-image" [width]="75" [height]="75" [ngSrc]="game().imageUrl" [alt]="game().name"/>
        <div class="fs-6">{{ game().name }}</div>
    </div>
    <div class="d-flex align-items-center gap-1" [ngbTooltip]="game().nbPlayers + ' players this week'">
        <mat-icon>groups</mat-icon>
        <span>{{ game().nbPlayers }}</span>
    </div>
</div>