<div class="card">
  <div class="card-header">
    <h5 class="card-title">Last earned trophies</h5>
  </div>
  <div class="card-body w-100 d-flex flex-column align-items-center">
    @for (trophy of trophies(); track trophy.id; let i = $index) {
      @if (i !== 0) {
        <hr class="separator"/>
      }
      <tq-profile-trophy-card [trophy]="trophy" class="w-100"/>
    }
    <div class="btn btn-primary mt-4" [hidden]="hideLoadMoreButton()" (click)="loadMoreTrophies.emit()">
      Load more trophies
    </div>
    <tq-spinner-container [hidden]="!isLoading()"/>
  </div>
</div>
