@use 'styles/colors' as *;

.title {
  font-size: 1.5rem;
  color: $tq-blue-medium;
}

.trophy-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy-filter-label {
  font-size: 0.9rem;
}
