<div class="card">
    <div class="card-header">
        <span class="title">Filters</span>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-evenly">
            <div class="d-flex flex-column align-items-center gap-1">
                <mat-slide-toggle class="hidden-trophy-toggler" (toggleChange)="hiddenFilterChanges()"/>
                <span class="trophy-filter-label">Show hidden trophies</span>
            </div>

            @if (showEarnedTrophyFilter()) {
                <div class="d-flex flex-column align-items-center gap-1">
                    <span class="trophy-filter-label">Select trophy earned type</span>

                    <mat-radio-group [value]="filters().earned" (change)="changeFilter($event.value)">
                        <mat-radio-button value="all">All</mat-radio-button>
                        <mat-radio-button value="earned">Earned</mat-radio-button>
                        <mat-radio-button value="notEarned">Not earned</mat-radio-button>
                    </mat-radio-group>
                </div>
            }
        </div>
    </div>
</div>