@use 'styles/colors' as *;

.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;

  a {
    color: $tq-red-medium;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.avatar {
  border-radius: 50%;
  border: 3px solid $tq-blue-dark;
}