@use 'styles/colors' as *;

.player-card {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &--summary {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &--avatar {
    border-radius: 50%;
  }

  &--pseudo {
    cursor: pointer;
    color: $tq-blue-dark;
    font-size: 18px;
    font-weight: bold;
  }

  &--stats {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &--game-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--game-icon {
    color: $tq-blue-medium;
  }

  &--total-played-games {
    font-size: 14px;
    font-weight: bold;
    color: $tq-blue-medium;
  }

  &--trophy-stats {
    min-width: 200px;
    display: flex;
    align-items: center;
  }

  &--trophy-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--trophy-count {
    color: $tq-blue-medium;
    font-size: 14px;
    font-weight: bold;
  }
}


