<div class="p-2 d-flex align-items-center justify-content-between home-player-card">

  <div class="d-flex align-items-center gap-3">
    <!-- Avatar -->
    <img [height]="50" [width]="50" alt="" [ngSrc]="player().avatarUrl" class="avatar"/>
    <!-- Pseudo -->
    <a class="fs-6 fw-bold tq-link" [attr.data-testid]="'player-pseudo'" (click)="onClickOnPseudo.emit()">
      {{ player().pseudo }}
    </a>
  </div>

  <div class="d-flex flex-column align-items-end gap-2">
    <!-- Total recent trophies -->
    <div class="fs-6">
      <b>{{ nbRecentlyEarnedTrophies() | number }}</b>
      <span> recent trophies</span>
    </div>

    <!-- Trophies by color -->
    <div class="d-flex  align-items-center gap-1">
      @for (color of ['bronze', 'silver', 'gold', 'platinum']; track color) {
        @if (getEarnedTrophyByType(color) > 0) {
          <div class="d-flex flex-column align-items-center" id="{{color}}-trophy-count">
            <img alt="{{color}} trophy" class="trophy-icon" [width]="32" [height]="32"
                 ngSrc="assets/icons/trophy-{{color}}.png"/>
            <b>{{ getEarnedTrophyByType(color) }}</b>
          </div>
        }
      }
    </div>
  </div>
</div>
