<div class="container p-2 d-flex justify-content-center gap-3">
    @if (this.isLoading()) {
        <tq-spinner-container/>
    } @else if (this.hasFailedLoading()) {
        <tq-error-message [errorMessage]="'Failed to load dashboard'"/>
    } @else {
        <tq-dashboard-igdb-mapping class="w-50" [stats]="this.igdbMappingStats()"/>
        <tq-dashboard-image-upload class="w-50"
                                   [psnUploads]="imageUploadStats.psn()"
                                   [igdbUploads]="imageUploadStats.igdb()"/>
    }
</div>