<div class="container pt-1 d-flex flex-column gap-3 align-items-center">
  <tq-add-player-form class="w-40"
                      [isLoading]="isLoadingAddPlayerForm()"
                      (onAddPlayer)="addPlayer($event)"/>

  @if (isLoadingPlayerList()) {
    <tq-spinner-container/>
  } @else {
    <tq-player-list class="w-75"
                    [paginatedPlayers]="paginatedPlayers()"
                    (onClickOnPlayer)="goToProfilePage($event)"
                    (onPageChange)="loadPageOfPlayers($event)"/>
  }
</div>
