<div class="container pt-1 d-flex flex-column gap-3 align-items-center">
  <tq-add-player-form [status]="playerListStore.addStatus()" class="w-40"
                      (validateSuccess)="playerListStore.resetAddPlayerStatus();"
                      (addPlayer)="playerListStore.addPlayer($event)"/>

  <tq-player-list [status]="playerListStore.status()"
                  class="w-75"
                  [players]="playerListStore.players()"
                  [total]="playerListStore.total()"
                  (retrievePlayers)="retrievePlayers()"
                  (loadMorePlayers)="playerListStore.loadMore()"
                  (clickOnPlayer)="navigator.goToProfilePage($event)"/>
</div>
