<tq-block class="player-list">
    <ng-template tqBlockHeader>
        <div class="player-list--header">
            <div class="player-list--total">
                Total: {{ total() }} players
            </div>
        </div>
    </ng-template>
    <ng-template tqBlockContent>
        @if (isLoading()) {
            <tq-spinner-container/>
        } @else if (isError()) {
            <tq-error-message (retry)="retrievePlayers.emit()"
                              class="player-list--error-message"
                              [hasRetryButton]="true"
                              [errorMessage]="'Failed to load players'"/>
        } @else {
            <div class="player-list--players">
                @for (playerSearchItem of players(); track playerSearchItem.id; let i = $index) {
                    @if (i !== 0) {
                        <hr class="player-list--separator"/>
                    }
                    <tq-player-card
                            (clickOnPseudo)="clickOnPlayer.emit(playerSearchItem.id)"
                            [playerSearchItem]="playerSearchItem"
                            class="player-list--card"/>
                }

                @if (hasMorePlayersToLoad()) {
                    <div (click)="loadMorePlayers.emit()" class="player-list--load-more-button">
                        Load more players...
                    </div>
                }
            </div>
        }
    </ng-template>
</tq-block>