@use "styles/colors" as *;
@use '@angular/material' as mat;


.player-list {

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--total {
    align-self: flex-start;
    color: $tq-blue-medium;
    font-size: 16px;
    font-weight: bold;
  }

  &--players {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--card {
    width: 100%;
    margin: 5px;
  }

  &--separator {
    color: $tq-blue-dark;
    width: 90%;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  &--load-more-button {
    margin-top: 20px;
    font-size: 15px;
    color: $tq-blue-medium;
    cursor: pointer;
  }

  &--error-message {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 70%;
  }

}