@if (displayReturnToSuiteListButton()) {
  <button class="btn btn-link fs-10px" (click)="this.suiteChange.emit(null)">
    Select another trophy suite for this game
  </button>
}

@if (suiteInError()) {
  <div class="alert alert-danger" role="alert">Failed to fetch trophy suites</div>
} @else {
  <div class="row gap-2">
    @if (trophiesInError()) {
      <div class="alert alert-danger" role="alert">Failed to fetch trophies</div>
    } @else if (displayedSuites().length == 0) {
      <div class="text-muted">
        This game has no registered trophy suite
      </div>
    } @else {
      @for (suite of displayedSuites(); track suite.suiteId) {
        <tq-game-trophy-suite-card
          class="row w-100 justify-content-center"
          [suite]="suite"
          [displayMode]="displayMode()"
          (selectTrophySuite)="this.suiteChange.emit(suite.suiteId)"/>
      }
    }
  </div>
  @if (!!suiteId()) {
    <tq-game-trophy-list [trophies]="trophies()" [selectedPlayerId]="selectedPlayerId()"/>
  }
}
