<div class="card">
    <div class="card-header">
        <h5 class="card-title">TrophyQuest</h5>
    </div>
    <div class="card-body">
        @if (isLoading()) {
            <tq-spinner-container/>
        } @else if (hasFailed()) {
            <tq-error-message [errorMessage]="'Failed to load TrophyQuest stats.'"/>
        } @else {
            <div class="d-flex justify-content-around align-items-center">
                @for (element of statsAsList(); track element.label) {
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <span class="fs-4 fw-bold">{{ element.total }}</span>
                            <span class="fs-5">{{ element.label }}</span>
                        </div>
                        <div class="d-flex align-items-center gap-2 recent">
                            <span class="fs-6 fw-bold">{{ element.recentCount }}</span>
                            <span>recent</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>