<div class="card">
  <div class="card-header">
    <h5 class="card-title">Add a player</h5>
  </div>
  <div class="card-body">
    <div class="d-flex flex-column align-items-center">
      <span class="card-subtitle mb-2 text-muted">Add a player to TrophyQuest</span>
      <input type="text"
             placeholder="Enter a PSN pseudo"
             class="form-control w-75"
             #searchInput
             (change)="validate(searchInput.value)"/>
    </div>
    @if (isLoading()) {
      <div class="d-flex flex-column align-items-center mt-3">
        <tq-spinner-container class="mb-1"/>
        <span class="text-muted">Adding user... this step may take a minute.</span>
      </div>
    }
  </div>
</div>
