<div class="d-flex flex-column gap-5">
    @for (group of groups(); track group.groupId) {
        <div class="card">
            <div class="card-header text-black-50">
                {{ group.groupName }}
            </div>
            <div class="card-body">
                @for (trophy of group.trophies; track trophy.id; let i = $index) {
                    @if (i !== 0) {
                        <hr class="trophy-suite-trophy-list--trophy-separator"/>
                    }
                    <tq-trophy-suite-trophy-card [showHiddenTrophies]="trophyFilters().showHidden"
                                                 class="trophy-suite-trophy-list--trophy-card"
                                                 [trophy]="trophy"/>
                }
            </div>
        </div>
    }
</div>