@use "styles/colors" as *;

.trophy-suite-trophy-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  &--group {
    width: 90%;

    &-title {
      color: $tq-blue-medium;
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &--trophy-separator {
    color: $tq-blue-medium;
    margin: 5px;
    width: 95%;
  }

  &--trophy-card {
    width: 100%;
  }
}