<div class="card">
  <div class="card-header">
    <h5 class="card-title">Most popular games this week</h5>
  </div>
  <div class="card-body">
    @if (hasNoRecentGames()) {
      <span class="card-subtitle mb-2 text-muted">No recent popular games</span>
    } @else {
      <div class="d-flex flex-column align-items-center gap-1">
        @for (game of games(); track game.id; let i = $index) {
          @if (i !== 0) {
            <hr class="tq-horiz-separator"/>
          }
          <tq-home-game-card [game]="game" (onGameClick)="clickOnGame.emit($event)" class="w-100"/>
        }
      </div>
    }
  </div>
</div>
