@use 'styles/colors' as *;

.profile-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &--header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &--delete-button {
    position: absolute;
    top: 20px;
    right: 20px;

    a {
      color: $tq-red-medium;
      cursor: pointer;
      font-size: 14px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--avatar-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $tq-white;
    border: 3px solid $tq-blue-dark;
  }

  &--pseudo {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  &--content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &--counts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &--count {
    font-size: 16px;

    &--value {
      color: $tq-blue-light;
    }
  }
}