<div class="container matching-page">

  @if (totalAssociations() > 0) {
    <div class="matching-header p-3">
      <div class="d-flex flex-column">
      <span class="fs-5 fw-semibold">
        Association Suite PSN – Jeu IGDB
      </span>

        <div class="text-muted mt-1">
          <b>{{ totalAssociations() }}</b> suites à valider
        </div>
      </div>

      <div class="header-navigation">
        <div class="text-muted text-nowrap">
          {{ pageNumber() + 1 }} / {{ totalAssociations() }}
        </div>

        <div class="navigation-buttons">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="previousAssociation()">
            Précédent
          </button>

          <button
            type="button"
            class="btn btn-primary"
            (click)="nextAssociation()">
            Suivant
          </button>
        </div>
      </div>
    </div>

    @if (association(); as association) {
      <main class="main-block">
        <aside class="suite-panel d-flex flex-column align-items-center">
          <tq-association-suite-card
            [suite]="association.suite"/>

          <button class="btn btn-success mt-4"
                  [disabled]="!hasSelectedCandidate()"
                  (click)="validateAssociation()">
            Valider
          </button>
          <button class="btn btn-outline-danger mt-3"
                  (click)="rejectAllCandidates()">
            Aucun candidat valide
          </button>
        </aside>

        <section class="right-panel">
          <div class="candidates-heading">
            <span class="fw-semibold">Candidats IGDB</span>
            <span class="text-muted small">Classés par score de correspondance</span>
          </div>

          <div class="candidate-list">
            @for (candidate of candidates(); track candidate) {
              <tq-association-candidate-card [candidate]="candidate"
                                             [isSelected]="isSelected(candidate.gameId)"
                                             (selectCandidate)="selectCandidate(candidate.gameId)"/>
            }
          </div>
        </section>
      </main>
    }
  } @else {
    <div class="d-flex flex-column align-items-center justify-content-center gap-3 py-5 mt-5 text-center">
      <span class="fs-1">✅</span>
      <h4 class="fw-semibold mb-0">Tout est à jour !</h4>
      <p class="text-muted mb-0">Il n'y a aucune association à valider pour le moment.</p>
    </div>
  }


  @if (isLoadingValidation()) {
    <div class="loading-overlay">
      <tq-spinner-container/>
    </div>
  }
</div>
