<div class="container m-5">
  <ul ngbNav
      [(activeId)]="selectedTab"
      (activeIdChange)="onTabChange($event)"
      #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="'overview'">
      <button ngbNavLink>Presentation</button>
      <ng-template ngbNavContent>
        <tq-game-details [gameDetails]="gameDetails()"/>
      </ng-template>
    </li>
    <li [ngbNavItem]="'trophies'">
      <button ngbNavLink>Trophies</button>
      <ng-template ngbNavContent>
        <tq-game-trophy-suites [trophySuites]="trophySuites()"
                               [trophies]="trophies()"
                               [trophySuiteId]="selectedTrophySuiteId"
                               [selectedPlayerId]="selectedPlayerId"
                               (trophySuiteChange)="onTrophySuiteSelectedChange($event)"/>
      </ng-template>
    </li>
    <li [ngbNavItem]="'players'">
      <button ngbNavLink>Players</button>
      <ng-template ngbNavContent>
        <tq-game-players [playersPagination]="playersPagination()"
                         (selectPlayer)="onPlayerSelected($event)"
                         (pseudoClicked)="onPlayerPseudoClicked($event)"
                         (pageChange)="onPlayerPageChange($event)"/>
      </ng-template>
    </li>
  </ul>
  <div class="game-page-content" [ngbNavOutlet]="nav"></div>
</div>
