@use "styles/colors" as *;

.delimiter-box {
  width: 5%;
  border-bottom: 2px solid $tq-blue-medium;
  border-left: 2px solid $tq-blue-medium;
  border-bottom-left-radius: 20px;
}

.player-trophies {
  border-bottom: 2px solid $tq-blue-medium;
}